* {
    margin: 0px;
    padding: 0px;
    /* sin ése "*" me quedaba un margen arriba por más que se lo aplicara a html y body */
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background: url(fondo.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: #E2DBDB;
}

.grad-bar {
    width: 100%;
    height: 2px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    animation: gradbar 15s ease infinite;
}

.container {
    width: 100%;
    height: 40px;
    background-color: #F05F44;
}

.navbar {
    width: 100%;
    margin: 0;
}

ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    grid-gap: 5px;
}

li {
    list-style: none;
}

a, h2 {
    color: #E2DBDB;
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

li:first-child {
    background-color: #ee4b08;
}

a:hover, a:active {
    background-color: #ee4b08;
}

.card {
    width: 400px;
    box-shadow: 4px 4px 3px #E2DBDB;
    text-align: center;
    margin: 10px;
    background-color: #F05F44;
}

.text-box {
  padding: 10px;
}

.container_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    ul {
        display: block;
    }
    li {
        height: 100%;
        background-color: #F05F44;
    }
    .container_card {
        margin-top: 180px;
    }
}
/* probando */